.jumbotron{
	margin-top:55px;
	background-color: yellow;
	color: black;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
	padding: 0px;

}
 
.btn-reserva{
	width: 100%;
	border-radius: 0;
}
.footer-address-icon{
	padding-right:15px;
}

.filtro{
	object-fit: cover;
}
.filtro-back{
	position: absolute;
top: 0; left: 0;
	background: linear-gradient(to bottom, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
}