$amarillo:#ffbb00;
$rojo: #aa2920;
$verde:rgb(37, 102, 58);
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    @include margenes(55px, 2rem);
    background-color: $amarillo;
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $rojo;
    @include margenes(10px, 0);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0);
    padding: 0px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon {
    padding-right: 15px;
}

.filtro {
    object-fit: cover;
}

.filtro-back {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $verde 0%, rgba(101, 100, 96, 0) 35%, rgba(101, 100, 96, 0) 45%, $verde 100%);
}

.comoFunciona {
    text-align: center;
}