.jumbotron {
  margin-top: 55px;
  margin-bottom: 2rem;
  background-color: #ffbb00;
  color: black;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #aa2920;
  margin-top: 10px;
  margin-bottom: 0;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.footer-address-icon {
  padding-right: 15px;
}

.filtro {
  object-fit: cover;
}

.filtro-back {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #25663a 0%, rgba(101, 100, 96, 0) 35%, rgba(101, 100, 96, 0) 45%, #25663a 100%);
}

.comoFunciona {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
